<?xml version="1.0" encoding="utf-8" ?>
<config version="2.0">
    <settings>
        <managementserver name="" />
        <outputpath name="D:\Admin\Scripts\EscalateScomAlerts\Logs" />
    </settings>
	<alertStormRules>
        <!--<stormRule name="Health Service Heartbeat Failure" enabled="false">
            <Sequence>1</Sequence>
            <Criteria><![CDATA["Name='Health Service Heartbeat Failure' AND (ResolutionState=0 OR ResolutionState=5) AND TimeRaised > '__TimeRaised__'"]]></Criteria>
            <count>10</count>
            <window>5</window>
            <NewResolutionState>18</NewResolutionState>
            <Comment><![CDATA["Alert updated by the alert automation: Alert Storm"]]></Comment>
            <SendNotification>Y</SendNotification>
            <NotificationRecipients>person@contoso.com</NotificationRecipients>
        </stormRule>-->
        <stormRule name="Alert Count by Name" enabled="true">
            <Sequence>100</Sequence>
			<Property>Name</Property>
            <count>10</count>
            <NewResolutionState>18</NewResolutionState>
            <Comment><![CDATA[Alert updated by the alert automation: Alert Storm]]></Comment>
            <SendNotification>Y</SendNotification>
            <NotificationRecipients>person@contoso.com</NotificationRecipients>
        </stormRule>
		<stormRule name="Alert count by MonitoringObjectId" enabled="true">
            <Sequence>101</Sequence>
			<Property>MonitoringObjectId</Property>
            <count>10</count>
            <NewResolutionState>18</NewResolutionState>
            <Comment><![CDATA[Alert updated by the alert automation: Alert Storm]]></Comment>
            <SendNotification>Y</SendNotification>
            <NotificationRecipients>person@contoso.com</NotificationRecipients>
        </stormRule>
    </alertStormRules>
    <rules>
        <rule name="Close Resolved Alerts: Closed" enabled="true">
            <Category></Category>
            <Description><![CDATA[Close alerts that have been sitting in 'Resolved' state for more than 24 hours]]></Description>
            <Sequence>1</Sequence>
            <Criteria><![CDATA[ResolutionState=254 AND LastModified < '__LastModified__']]></Criteria>
            <NewResolutionState>255</NewResolutionState>
            <LastModifiedAge>1440</LastModifiedAge> 
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA[Alert updated by the alert automation: Closed]]></Comment>
        </rule>
		<rule name="Update Queue Assigned: Verified" enabled="true">
            <Category></Category>
            <Description><![CDATA[Update manual reset monitor-based alerts to Verified]]></Description>
            <Sequence>2</Sequence>
            <Criteria><![CDATA[ResolutionState=247 AND TimeRaised < '__TimeRaised__' AND IsMonitorAlert=1]]></Criteria>
            <NewResolutionState>15</NewResolutionState>
            <TimeRaisedAge>10</TimeRaisedAge>
            <PostPipelineFilter>( $_.HealthStateSuccess -eq 'ManualResetEventRaised' ) -and ( $_.RepeatCount -gt 0 )</PostPipelineFilter>
            <Comment><![CDATA[Alert updated by the alert automation: Awaiting Evidence]]></Comment>
        </rule>
		<rule name="Update Queue Assigned: Awaiting Evidence" enabled="true">
            <Category></Category>
            <Description><![CDATA[Update manual reset monitor-based alerts to Awaiting Evidence]]></Description>
            <Sequence>3</Sequence>
            <Criteria><![CDATA[( ResolutionState=5 OR ResolutionState = 18 ) AND TimeRaised < '__TimeRaised__' AND IsMonitorAlert=1]]></Criteria>
            <NewResolutionState>247</NewResolutionState>
            <TimeRaisedAge>10</TimeRaisedAge>
            <PostPipelineFilter>
				( $_.HealthStateSuccess -eq 'ManualResetEventRaised' ) -and
				( $_.RepeatCount -eq 0 ) -and
				(
					$_ | ForEach-Object -Process {
						$_.Monitor.ScheduleMaintenanceMode(
							[System.DateTime]::Now.ToUniversalTime(),
							[System.DateTime]::Now.AddMinutes(5).ToUniversalTime(),
							[Microsoft.EnterpriseManagement.Monitoring.MaintenanceModeReason]::PlannedOther,
							'Alert automation: Determine if this monitor will increment the repeat count with the associated alert when it exits maintenance mode.'
						)
					} 
				)
			</PostPipelineFilter>
            <Comment><![CDATA[Alert updated by the alert automation: Awaiting Evidence]]></Comment>
        </rule>
		<rule name="Update Queue Assigned: Manual Reset" enabled="true">
            <Category></Category>
            <Description><![CDATA[Manually reset monitor-based alerts with a successful health state of "ManualResetEventRaised" after 36 hours]]></Description>
            <Sequence>3</Sequence>
            <Criteria><![CDATA[ResolutionState=247 AND TimeRaised < '__TimeRaised__' AND IsMonitorAlert=1]]></Criteria>
            <NewResolutionState>247</NewResolutionState>
            <TimeRaisedAge>2190</TimeRaisedAge>
            <PostPipelineFilter>
				( $_.HealthStateSuccess -eq 'ManualResetEventRaised' ) -and
				( $_.RepeatCount -eq 0 ) -and
				( $_ | ForEach-Object -Process { $_.Monitor.ResetMonitoringState($_.UnitMonitor) > $null } )
			</PostPipelineFilter>
            <Comment><![CDATA[Alert updated by the alert automation: Manually reset the monitor.]]></Comment>
        </rule>
        <rule name="Update Queue Assigned: Verified" enabled="true">
            <Category></Category>
            <Description><![CDATA[Update Monitor-based alerts to Verifed]]></Description>
            <Sequence>4</Sequence>
            <Criteria><![CDATA[ResolutionState=5 AND TimeRaised < '__TimeRaised__' AND IsMonitorAlert=1]]></Criteria>
            <NewResolutionState>15</NewResolutionState>
            <TimeRaisedAge>10</TimeRaisedAge>
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA[Alert updated by the alert automation: Verified]]></Comment>
        </rule>
		<rule name="Update Awaiting Evidence: Verified" enabled="true"> 
            <Category></Category>
            <Description><![CDATA[Update alerts from Awaiting Evidence to Verified]]></Description>
            <Sequence>5</Sequence>
            <Criteria><![CDATA[ResolutionState=247 AND LastModified < '__LastModified__' AND IsMonitorAlert=0]]></Criteria>
            <NewResolutionState>15</NewResolutionState>
            <LastModifiedAge>10</LastModifiedAge>
            <PostPipelineFilter>$_.RepeatCount -gt 0</PostPipelineFilter>
            <Comment><![CDATA[Alert updated by the alert automation: Verified]]></Comment>
        </rule>
		<rule name="Update Queue Assigned: Awaiting Evidence" enabled="true">
            <Category></Category>
            <Description><![CDATA[Update Rule-based alerts to Awaiting Evidence]]></Description>
            <Sequence>6</Sequence>
            <Criteria><![CDATA[ResolutionState=5 AND TimeRaised < '__TimeRaised__' AND IsMonitorAlert=0]]></Criteria>
            <NewResolutionState>247</NewResolutionState>
            <TimeRaisedAge>10</TimeRaisedAge>
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA[Alert updated by the alert automation: Awaiting Evidence]]></Comment>
        </rule>
		<rule name="Update Rule: Closed" enabled="true"> 
            <Category></Category>
            <Description><![CDATA[Update alerts to Closed if no update after 36 hours]]></Description>
            <Sequence>7</Sequence>
            <Criteria><![CDATA[( ResolutionState = 15 OR ResolutionState=247 ) AND TimeRaised < '__TimeRaised__' AND IsMonitorAlert=0]]></Criteria>
            <NewResolutionState>255</NewResolutionState>
            <TimeRaisedAge>2190</TimeRaisedAge>
            <PostPipelineFilter>$_.RepeatCount -eq 0</PostPipelineFilter>
            <Comment><![CDATA[Alert updated by the alert automation: Closed]]></Comment>
        </rule>            
    </rules>
    <exceptions>
		<exception name="SQL Server Agent Windows Stopped" enabled="false">
            <Category>MSSQL Server</Category>
            <Description><![CDATA[Generate Service Desk Incident]]></Description>
            <Sequence>1</Sequence>
            <Criteria><![CDATA[ResolutionState=15 AND Name LIKE '%SQL Server Agent Windows Stopped%' AND TimeRaised < '__TimeRaised__']]></Criteria>
            <NewResolutionState>50</NewResolutionState>
            <TimeRaisedAge>30</TimeRaisedAge>
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA[Alert updated by the alert automation: Create SD Incident (auto)]]></Comment>
        </exception>
        <exception name="SQL Server Service Stopped" enabled="false">
            <Category>MSSQL Server</Category>
            <Description><![CDATA[Generate Service Desk Incident]]></Description>
            <Sequence>2</Sequence>
            <Criteria><![CDATA[ResolutionState=15 AND Name LIKE '%SQL Server Service Stopped%' AND TimeRaised < '__TimeRaised__']]></Criteria>
            <NewResolutionState>50</NewResolutionState>
            <TimeRaisedAge>30</TimeRaisedAge>
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA[Alert updated by the alert automation: Create SD Incident (auto)]]></Comment>
        </exception>
        <exception name="SQL Server Integration Services Windows Service Stopped" enabled="false">
            <Category>MSSQL Server</Category>
            <Description><![CDATA[Generate Service Desk Incident]]></Description>
            <Sequence>3</Sequence>
            <Criteria><![CDATA[ResolutionState=15 AND Name LIKE '%SQL Server Integration Services Windows Service Stopped%' AND TimeRaised < '__TimeRaised__']]></Criteria>
            <NewResolutionState>50</NewResolutionState>
            <TimeRaisedAge>30</TimeRaisedAge>
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA[Alert updated by the alert automation: Create SD Incident (auto)]]></Comment>
        </exception>
        <exception name="Filegroup is running out of space" enabled="false"> 
            <Category>MSSQL Server</Category>
            <Description><![CDATA[Generate Service Desk Incident]]></Description>
            <Sequence>4</Sequence>
            <Criteria><![CDATA[ResolutionState=15 AND Severity=2 AND Name LIKE '%Filegroup is running out of space%' AND MonitoringObjectFullName NOT LIKE '%tempdb%' AND TimeRaised < '__TimeRaised__']]></Criteria>
            <NewResolutionState>50</NewResolutionState>
            <TimeRaisedAge>30</TimeRaisedAge>
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA[Alert updated by the alert automation: Create SD Incident (auto)]]></Comment>
        </exception>
        <exception name="DB Log File is running out of space" enabled="false">
            <Category>MSSQL Server</Category>
            <Description><![CDATA[Generate Service Desk Incident]]></Description>
            <Sequence>5</Sequence>
            <Criteria><![CDATA[ResolutionState=15 AND Severity=2 AND (Name LIKE '%DB Log File is running out of space%' OR Name LIKE '%Log files are running out of space%') AND TimeRaised < '__TimeRaised__']]></Criteria>
            <NewResolutionState>50</NewResolutionState>
            <TimeRaisedAge>30</TimeRaisedAge>
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA[Alert updated by the alert automation: Create SD Incident (auto)]]></Comment>
        </exception>
        <exception name="Database backup should be performed" enabled="false">
            <Category></Category>="MSSQL Server"
            <Description><![CDATA[Generate Service Desk Incident]]></Description>
            <Sequence>5</Sequence>
            <Criteria><![CDATA[ResolutionState=15 AND Severity=2 AND Name LIKE '%Database backup should be performed%' AND TimeRaised < '__TimeRaised__']]></Criteria>
            <NewResolutionState>50</NewResolutionState>
            <TimeRaisedAge>30</TimeRaisedAge>
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA[Alert updated by the alert automation: Create SD Incident (auto)]]></Comment>
        </exception>
        <exception name="NTFS reported the logical disk is in error or corrupt" enabled="false">
            <Category>Windows Server</Category>
            <Description><![CDATA[Generate Service Desk Incident]]></Description>
            <Sequence>6</Sequence>
            <Criteria><![CDATA[ResolutionState=15 AND Name='NTFS reported the logical disk is in error or corrupt.' AND TimeRaised < '__TimeRaised__']]></Criteria>
            <NewResolutionState>50</NewResolutionState>
            <TimeRaisedAge>30</TimeRaisedAge>
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA[Alert updated by the alert automation: Create SD Incident (auto)]]></Comment>
        </exception>
        <exception name="Logical Disk Free Space is low" enabled="false">
            <Category>Windows Server</Category>
            <Description><![CDATA[Generate Service Desk Incident]]></Description>
            <Sequence>6</Sequence>
            <Criteria><![CDATA[ResolutionState=15 AND Name='Logical Disk Free Space is low' AND MonitoringObjectName='C:' AND Severity=2 AND TimeRaised < '__TimeRaised__']]></Criteria>
            <NewResolutionState>50</NewResolutionState>
            <TimeRaisedAge>30</TimeRaisedAge>
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA[Alert updated by the alert automation: Create SD Incident (auto)]]></Comment>
        </exception>
        <exception name="Certificate lifespan alert" enabled="false">
            <Category>PKI Certificate</Category>
            <Description><![CDATA[Generate Service Desk Incident]]></Description>
            <Sequence>7</Sequence>
            <Criteria><![CDATA[ResolutionState=15 AND Name='Certificate lifespan alert' AND Severity=2 AND TimeRaised < '__TimeRaised__']]></Criteria>
            <NewResolutionState>50</NewResolutionState>
            <TimeRaisedAge>30</TimeRaisedAge>
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA[Alert updated by the alert automation: Create SD Incident (auto)]]></Comment>
        </exception>
        <exception name="SQL Server cannot authenticate using Kerberos because the Service Principal Name" enabled="false">
            <Category>MSSQL Server</Category>
            <Description><![CDATA[Generate Service Desk Incident]]></Description>
            <Sequence>8</Sequence>
            <Criteria><![CDATA[ResolutionState=15 AND Name LIKE 'SQL Server cannot authenticate using Kerberos because the Service Principal Name%' AND TimeRaised < '__TimeRaised__']]></Criteria>
            <NewResolutionState>50</NewResolutionState>
            <TimeRaisedAge>30</TimeRaisedAge>
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA[Alert updated by the alert automation: Create SD Incident (auto)]]></Comment>
        </exception>          
        <exception name="The Domain Controller has been started" enabled="false">
            <Category>Active Directory</Category>
            <Sequence>9</Sequence>
            <Criteria><![CDATA[ResolutionState=5 AND Name='The Domain Controller has been started' AND TimeRaised < '__TimeRaised__']]></Criteria>
            <NewResolutionState>254</NewResolutionState>
            <TimeRaisedAge>30</TimeRaisedAge>
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA[Alert updated by the alert automation: Resolved]]></Comment>
            <CheckHealth>false</CheckHealth>
        </exception>
        <exception name="The Domain Controller has been stopped" enabled="false">
            <Category>Active Directory</Category>
            <Sequence>10</Sequence>
            <Criteria><![CDATA[ResolutionState=5 AND Name='The Domain Controller has been stopped' AND TimeRaised < '__TimeRaised__']]></Criteria>
            <NewResolutionState>254</NewResolutionState>
            <TimeRaisedAge>30</TimeRaisedAge>
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA[Alert updated by the alert automation: Resolved]]></Comment>
            <CheckHealth>false</CheckHealth>
        </exception>
        <exception name="Cluster Resource Failed" enabled="true">
            <Category>MS Cluster</Category>
            <Sequence>11</Sequence>
            <Criteria><![CDATA[ResolutionState=5 AND Name='Cluster Resource Failed' AND TimeRaised < '__TimeRaised__']]></Criteria>
            <NewResolutionState>254</NewResolutionState>
            <TimeRaisedAge>30</TimeRaisedAge>
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA[Alert updated by the alert automation: Resolved]]></Comment>
            <CheckHealth>true</CheckHealth>
        </exception>
        <exception name="Unable to access witness resource" enabled="true">
            <Category>MS Cluster</Category>
            <Sequence>12</Sequence>
            <Criteria><![CDATA[ResolutionState=5 AND Name='Unable to access witness resource' AND TimeRaised < '__TimeRaised__']]></Criteria>
            <NewResolutionState>254</NewResolutionState>
            <TimeRaisedAge>30</TimeRaisedAge>
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA[Alert updated by the alert automation: Resolved]]></Comment>
            <CheckHealth>true</CheckHealth>
        </exception>
        <exception name="Application Pool worker process is unresponsive" enabled="false">
            <Category>IIS</Category>
            <Sequence>13</Sequence>
            <Criteria><![CDATA[ResolutionState=5 AND Name='Application Pool worker process is unresponsive' AND TimeRaised < '__TimeRaised__']]></Criteria>
            <NewResolutionState>255</NewResolutionState>
            <TimeRaisedAge>1440</TimeRaisedAge>
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA[Alert updated by the alert automation: Closed]]></Comment>
            <CheckHealth>true</CheckHealth>
        </exception>
        <exception name="Cluster network is down" enabled="false">
            <Category>MS Cluster</Category>
            <Sequence>14</Sequence>
            <Criteria><![CDATA[ResolutionState=5 AND Name='Cluster network is down' AND TimeRaised < '__TimeRaised__']]></Criteria>
            <NewResolutionState>255</NewResolutionState>
            <TimeRaisedAge>1440</TimeRaisedAge>
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA[Alert updated by the alert automation: Resolved]]></Comment>
            <CheckHealth>true</CheckHealth>
        </exception>
        <exception name="Communication was lost and reestablished between cluster nodes" enabled="false">
            <Category>MS Cluster</Category>
            <Sequence>15</Sequence>
            <Criteria><![CDATA[ResolutionState=5 AND Name='Communication was lost and reestablished between cluster nodes' AND TimeRaised < '__TimeRaised__']]></Criteria>
            <NewResolutionState>255</NewResolutionState>
            <TimeRaisedAge>1440</TimeRaisedAge>
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA[Alert updated by the alert automation: Resolved]]></Comment>
            <CheckHealth>true</CheckHealth>
        </exception>
        <exception name="Application Pool worker process terminated unexpectedly" enabled="false">
            <Category>IIS</Category>
            <Sequence>16</Sequence>
            <Criteria><![CDATA[ResolutionState=5 AND Name='Application Pool worker process terminated unexpectedly' AND TimeRaised < '__TimeRaised__']]></Criteria>
            <NewResolutionState>255</NewResolutionState>
            <TimeRaisedAge>1440</TimeRaisedAge>
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA[Auto close by the alert automation.]]></Comment>
            <CheckHealth>true</CheckHealth>
        </exception>
		<exception name="Alert storm detected" enabled="true">
            <Category>IIS</Category>
            <Sequence>17</Sequence>
            <Criteria><![CDATA[ResolutionState=5 AND Name='Alert storm detected' AND TimeRaised < '__TimeRaised__']]></Criteria>
            <NewResolutionState>15</NewResolutionState>
            <TimeRaisedAge>0</TimeRaisedAge>
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA[Alert updated by the alert automation: Verified]]></Comment>
            <CheckHealth>true</CheckHealth>
        </exception>
		<exception name="MSSQL on Windows: Discovery error" enabled="true">
            <Category>MSSQL Server</Category>
            <Sequence>18</Sequence>
            <Criteria><![CDATA[ResolutionState=247 AND Name='MSSQL on Windows: Discovery error' AND TimeRaised < '__TimeRaised__']]></Criteria>
            <NewResolutionState>255</NewResolutionState>
            <TimeRaisedAge>10</TimeRaisedAge>
            <PostPipelineFilter>$_.RepeatCount -lt 10</PostPipelineFilter>
            <Comment><![CDATA[Alert updated by the alert automation: Closed]]></Comment>
            <CheckHealth>true</CheckHealth>
        </exception>
		<exception name="MSSQL on Windows: Monitoring error" enabled="true">
            <Category>MSSQL Server</Category>
            <Sequence>19</Sequence>
            <Criteria><![CDATA[ResolutionState=247 AND Name='MSSQL on Windows: Monitoring error' AND TimeRaised < '__TimeRaised__']]></Criteria>
            <NewResolutionState>255</NewResolutionState>
            <TimeRaisedAge>10</TimeRaisedAge>
            <PostPipelineFilter>$_.RepeatCount -lt 10</PostPipelineFilter>
            <Comment><![CDATA[Alert updated by the alert automation: Closed]]></Comment>
            <CheckHealth>true</CheckHealth>
        </exception>
		<exception name="Power Shell Script failed to run" enabled="true">
            <Category>SCOM</Category>
            <Sequence>20</Sequence>
            <Criteria><![CDATA[ResolutionState=247 AND Name='Power Shell Script failed to run' AND TimeRaised < '__TimeRaised__']]></Criteria>
            <NewResolutionState>255</NewResolutionState>
            <TimeRaisedAge>10</TimeRaisedAge>
            <PostPipelineFilter>$_.RepeatCount -lt 10</PostPipelineFilter>
            <Comment><![CDATA[Alert updated by the alert automation: Closed]]></Comment>
            <CheckHealth>true</CheckHealth>
        </exception>
		<exception name="Windows Shutdown/Restart Event Detected" enabled="true">
            <Category>Windows Server</Category>
            <Sequence>21</Sequence>
            <Criteria><![CDATA[ ( ResolutionState=5 OR ResolutionState=247 ) AND Name='Windows Shutdown/Restart Event Detected' AND TimeRaised < '__TimeRaised__']]></Criteria>
            <NewResolutionState>15</NewResolutionState>
            <TimeRaisedAge>0</TimeRaisedAge>
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA[Alert updated by the alert automation: Verified]]></Comment>
        </exception>
    </exceptions>
</config>
