<?xml version="1.0" encoding="utf-8" ?>
<config version="2.0">
    <settings>
        <managementserver name="MGR31.abcd.lcl" />
        <outputpath name="E:\Files\Log\OperationsManager\AlertEscalation" />
    </settings>
    <alertStormRules>
        <stormRule name="Health Service Heartbeat Failure" enabled="true">
            <Sequence>1</Sequence>
            <Criteria><![CDATA[""Name='Health Service Heartbeat Failure' AND (ResolutionState=0 OR ResolutionState=5) AND TimeRaised > '__TimeRaised__'""]]></Criteria>
            <count>10</count>
            <window>5</window>
            <NewResolutionState>18</NewResolutionState>
            <Comment><![CDATA[""Alert Updated by Orchestrator: Alert Storm""]]></Comment>
            <SendNotification>Y</SendNotification>
            <NotificationRecipients>hmscott4@sct-systems.net</NotificationRecipients>
            <GenerateIncident>N</GenerateIncident>
            <IncidentAssignmentGroup>Windows Team</IncidentAssignmentGroup>
            <IncidentProductCategory1>Hardware</IncidentProductCategory1>
            <IncidentProductCategory2>Processing Unit</IncidentProductCategory2>
            <IncidentProductCategory3>Server</IncidentProductCategory3>
			<ProductName>Unassigned</ProductName>
            <IncidentOperationalCategory1>Repair</IncidentOperationalCategory1>
            <IncidentOperationalCategory2>Computer</IncidentOperationalCategory2>
            <IncidentOperationalCategory3>Hardware</IncidentOperationalCategory3>
            <Priority>Medium</Priority>
            <Urgency>3-Medium</Urgency>
            <Impact>3-Moderate/Limited</Impact>
        </stormRule>
    </alertStormRules>
    <rules>
        <rule name="Close Resolved Alerts: Closed" enabled="true">
            <Category></Category>
            <Description><![CDATA["Close alerts that have been sitting in 'Resolved' state for more than 24 hours"]]></Description>
            <Sequence>1</Sequence>
            <Criteria><![CDATA["ResolutionState=254 AND LastModified < '__LastModified__'"]]></Criteria>
            <NewResolutionState>255</NewResolutionState>
            <LastModifiedAge>1440</LastModifiedAge> 
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA["Alert Updated by Orchestrator: Closed"]]></Comment>
        </rule>
        <rule name="Update Queue Assigned: Awaiting Evidence" enabled="true">
            <Category></Category>
            <Description><![CDATA["Update Rule-based alerts to Awaiting Evidence"]]></Description>
            <Sequence>2</Sequence>
            <Criteria><![CDATA["ResolutionState=5 AND TimeRaised < '__TimeRaised__' AND IsMonitorAlert=0"]]></Criteria>
            <NewResolutionState>247</NewResolutionState>
            <TimeRaisedAge>10</TimeRaisedAge>
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA["Alert Updated by Orchestrator: Awaiting Evidence"]]></Comment>
        </rule>

        <rule name="Update Queue Assigned: Verified" enabled="true">
            <Category></Category>
            <Description><![CDATA["Update Rule-based alerts to Awaiting Evidence"]]></Description>
            <Sequence>3</Sequence>
            <Criteria><![CDATA["ResolutionState=5 AND TimeRaised < '__TimeRaised__' AND IsMonitorAlert=1"]]></Criteria>
            <NewResolutionState>15</NewResolutionState>
            <TimeRaisedAge>10</TimeRaisedAge>
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA["Alert Updated by Orchestrator: Verified"]]></Comment>
        </rule>
        <rule name="Update Awaiting Evidence: Verified" enabled="true"> 
            <Category></Category>
            <Description><![CDATA["Update alerts from Awaiting Evidence to Verified after 36 hours"]]></Description>
            <Sequence>4</Sequence>
            <Criteria><![CDATA["ResolutionState=247 AND TimeRaised < '__TimeRaised__'"]]></Criteria>
            <NewResolutionState>15</NewResolutionState>
            <TimeRaisedAge>2190</TimeRaisedAge>
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA["Alert Updated by Orchestrator: Verified"]]></Comment>
        </rule>
        <rule name="Update Verifed (rule based): Closed" enabled="true">
            <Category></Category>
            <Description><![CDATA["Update rule-based alerts from Verifed to Closed if no update after 36 hours"]]></Description>
            <Sequence>5</Sequence>
            <Criteria><![CDATA["ResolutionState=15 AND LastModified < '__LastModified__' AND IsMonitorAlert=0"]]></Criteria>
            <NewResolutionState>255</NewResolutionState>
            <LastModifiedAge>2190</LastModifiedAge>
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA["Alert Updated by Orchestrator: Closed"]]></Comment>
        </rule>             
    </rules>
    <exceptions>
        <exception name="SQL Server Agent Windows Stopped" enabled="true">
            <Category>MSSQL Server</Category>
            <Description><![CDATA["Generate Service Desk Incident"]]></Description>
            <Sequence>1</Sequence>
            <Criteria><![CDATA["ResolutionState=15 AND Name LIKE '%SQL Server Agent Windows Stopped%' AND TimeRaised < '__TimeRaised__'"]]></Criteria>
            <NewResolutionState>50</NewResolutionState>
            <TimeRaisedAge>30</TimeRaisedAge>
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA["Alert Updated by Orchestrator: Create SD Incident (auto)"]]></Comment>
        </exception>
        <exception name="SQL Server Service Stopped" enabled="true">
            <Category>MSSQL Server</Category>
            <Description><![CDATA["Generate Service Desk Incident"]]></Description>
            <Sequence>2</Sequence>
            <Criteria><![CDATA["ResolutionState=15 AND Name LIKE '%SQL Server Service Stopped%' AND TimeRaised < '__TimeRaised__'"]]></Criteria>
            <NewResolutionState>50</NewResolutionState>
            <TimeRaisedAge>30</TimeRaisedAge>
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA["Alert Updated by Orchestrator: Create SD Incident (auto)"]]></Comment>
        </exception>
        <exception name="SQL Server Integration Services Windows Service Stopped" enabled="true">
            <Category>MSSQL Server</Category>
            <Description><![CDATA["Generate Service Desk Incident"]]></Description>
            <Sequence>3</Sequence>
            <Criteria><![CDATA["ResolutionState=15 AND Name LIKE '%SQL Server Integration Services Windows Service Stopped%' AND TimeRaised < '__TimeRaised__'"]]></Criteria>
            <NewResolutionState>50</NewResolutionState>
            <TimeRaisedAge>30</TimeRaisedAge>
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA["Alert Updated by Orchestrator: Create SD Incident (auto)"]]></Comment>
        </exception>
        <exception name="Filegroup is running out of space" enabled="true"> 
            <Category>MSSQL Server</Category>
            <Description><![CDATA["Generate Service Desk Incident"]]></Description>
            <Sequence>4</Sequence>
            <Criteria><![CDATA["ResolutionState=15 AND Severity=2 AND Name LIKE '%Filegroup is running out of space%' AND MonitoringObjectFullName NOT LIKE '%tempdb%' AND TimeRaised < '__TimeRaised__'"]]></Criteria>
            <NewResolutionState>50</NewResolutionState>
            <TimeRaisedAge>30</TimeRaisedAge>
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA["Alert Updated by Orchestrator: Create SD Incident (auto)"]]></Comment>
        </exception>
        <exception name="DB Log File is running out of space" enabled="true">
            <Category>MSSQL Server</Category>
            <Description><![CDATA["Generate Service Desk Incident"]]></Description>
            <Sequence>5</Sequence>
            <Criteria><![CDATA["ResolutionState=15 AND Severity=2 AND (Name LIKE '%DB Log File is running out of space%' OR Name LIKE '%Log files are running out of space%') AND TimeRaised < '__TimeRaised__'"]]></Criteria>
            <NewResolutionState>50</NewResolutionState>
            <TimeRaisedAge>30</TimeRaisedAge>
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA["Alert Updated by Orchestrator: Create SD Incident (auto)"]]></Comment>
        </exception>
        <exception name="Database backup should be performed" enabled="true">
            <Category></Category>="MSSQL Server"
            <Description><![CDATA["Generate Service Desk Incident"]]></Description>
            <Sequence>5</Sequence>
            <Criteria><![CDATA["ResolutionState=15 AND Severity=2 AND Name LIKE '%Database backup should be performed%' AND TimeRaised < '__TimeRaised__'"]]></Criteria>
            <NewResolutionState>50</NewResolutionState>
            <TimeRaisedAge>30</TimeRaisedAge>
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA["Alert Updated by Orchestrator: Create SD Incident (auto)"]]></Comment>
        </exception>
        <exception name="NTFS reported the logical disk is in error or corrupt" enabled="true">
            <Category>Windows Server</Category>
            <Description><![CDATA["Generate Service Desk Incident"]]></Description>
            <Sequence>6</Sequence>
            <Criteria><![CDATA["ResolutionState=15 AND Name='NTFS reported the logical disk is in error or corrupt.' AND TimeRaised < '__TimeRaised__'"]]></Criteria>
            <NewResolutionState>50</NewResolutionState>
            <TimeRaisedAge>30</TimeRaisedAge>
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA["Alert Updated by Orchestrator: Create SD Incident (auto)"]]></Comment>
        </exception>
        <exception name="Logical Disk Free Space is low" enabled="true">
            <Category>Windows Server</Category>
            <Description><![CDATA["Generate Service Desk Incident"]]></Description>
            <Sequence>6</Sequence>
            <Criteria><![CDATA["ResolutionState=15 AND Name='Logical Disk Free Space is low' AND MonitoringObjectName='C:' AND Severity=2 AND TimeRaised < '__TimeRaised__'"]]></Criteria>
            <NewResolutionState>50</NewResolutionState>
            <TimeRaisedAge>30</TimeRaisedAge>
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA["Alert Updated by Orchestrator: Create SD Incident (auto)"]]></Comment>
        </exception>
        <exception name="Certificate lifespan alert" enabled="true">
            <Category>PKI Certificate</Category>
            <Description><![CDATA["Generate Service Desk Incident"]]></Description>
            <Sequence>7</Sequence>
            <Criteria><![CDATA["ResolutionState=15 AND Name='Certificate lifespan alert' AND Severity=2 AND TimeRaised < '__TimeRaised__'"]]></Criteria>
            <NewResolutionState>50</NewResolutionState>
            <TimeRaisedAge>30</TimeRaisedAge>
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA["Alert Updated by Orchestrator: Create SD Incident (auto)"]]></Comment>
        </exception>
        <exception name="SQL Server cannot authenticate using Kerberos because the Service Principal Name" enabled="true">
            <Category>MSSQL Server</Category>
            <Description><![CDATA["Generate Service Desk Incident"]]></Description>
            <Sequence>8</Sequence>
            <Criteria><![CDATA["ResolutionState=15 AND Name LIKE 'SQL Server cannot authenticate using Kerberos because the Service Principal Name%' AND TimeRaised < '__TimeRaised__'"]]></Criteria>
            <NewResolutionState>50</NewResolutionState>
            <TimeRaisedAge>30</TimeRaisedAge>
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA["Alert Updated by Orchestrator: Create SD Incident (auto)"]]></Comment>
        </exception>
        <exception name="Tripwire Axon Service" enabled="true">
            <Category>Windows Services</Category>
            <Description><![CDATA["Generate Service Desk Incident"]]></Description>
            <Sequence>9</Sequence>
            <Criteria><![CDATA["ResolutionState=15 AND Name = 'Windows Service Stopped' AND MonitoringObjectDisplayName='DLA-WIN-Tripwire Axon Agent' AND TimeRaised < '__TimeRaised__'"]]></Criteria>
            <NewResolutionState>50</NewResolutionState>
            <TimeRaisedAge>30</TimeRaisedAge>
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA["Alert Updated by Orchestrator: Create SD Incident (auto)"]]></Comment>
        </exception>             
        <exception name="The Domain Controller has been started" enabled="true">
            <Category>Active Directory</Category>
            <Sequence>99</Sequence>
            <Criteria><![CDATA["ResolutionState=5 AND Name='The Domain Controller has been started' AND TimeRaised < '__TimeRaised__'"]]></Criteria>
            <NewResolutionState>254</NewResolutionState>
            <TimeRaisedAge>30</TimeRaisedAge>
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA["Alert Updated by Orchestrator: Resolved"]]></Comment>
            <CheckHealth>false</CheckHealth>
        </exception>
        <exception name="The Domain Controller has been stopped" enabled="true">
            <Category>Active Directory</Category>
            <Sequence>99</Sequence>
            <Criteria><![CDATA["ResolutionState=5 AND Name='The Domain Controller has been stopped' AND TimeRaised < '__TimeRaised__'"]]></Criteria>
            <NewResolutionState>254</NewResolutionState>
            <TimeRaisedAge>30</TimeRaisedAge>
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA["Alert Updated by Orchestrator: Resolved"]]></Comment>
            <CheckHealth>false</CheckHealth>
        </exception>
        <exception name="Cluster Resource Failed" enabled="true">
            <Category>MS Cluster</Category>
            <Sequence>99</Sequence>
            <Criteria><![CDATA["ResolutionState=5 AND Name='Cluster Resource Failed' AND TimeRaised < '__TimeRaised__'"]]></Criteria>
            <NewResolutionState>254</NewResolutionState>
            <TimeRaisedAge>30</TimeRaisedAge>
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA["Alert Updated by Orchestrator: Resolved"]]></Comment>
            <CheckHealth>true</CheckHealth>
        </exception>
        <exception name="Unable to access witness resource" enabled="false">
            <Category>MS Cluster</Category>
            <Sequence>99</Sequence>
            <Criteria><![CDATA["ResolutionState=5 AND Name='Unable to access witness resource' AND TimeRaised < '__TimeRaised__'"]]></Criteria>
            <NewResolutionState>254</NewResolutionState>
            <TimeRaisedAge>30</TimeRaisedAge>
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA["Alert Updated by Orchestrator: Resolved"]]></Comment>
            <CheckHealth>true</CheckHealth>
        </exception>
        <exception name="Application Pool worker process is unresponsive" enabled="false">
            <Category>IIS</Category>
            <Sequence>99</Sequence>
            <Criteria><![CDATA["ResolutionState=5 AND Name='Application Pool worker process is unresponsive' AND TimeRaised < '__TimeRaised__'"]]></Criteria>
            <NewResolutionState>255</NewResolutionState>
            <TimeRaisedAge>1440</TimeRaisedAge>
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA["Alert Updated by Orchestrator: Closed"]]></Comment>
            <CheckHealth>true</CheckHealth>
        </exception>
        <exception name="DLATS - DMARS SSAE-16 notification" enabled="true">
            <Category>DLA Custom: Transaction Services</Category>
            <Sequence>80</Sequence>
            <Criteria><![CDATA["ResolutionState=5 AND Name='DLATS - DMARS SSAE-16 notification' AND TimeRaised < '__TimeRaised__'"]]></Criteria>
            <NewResolutionState>255</NewResolutionState>
            <TimeRaisedAge>30</TimeRaisedAge>
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA["Alert Updated by Orchestrator: Closed"]]></Comment>
            <CheckHealth>false</CheckHealth>
        </exception>
        <exception name="DLA-WIN-Unexpected Shutdown" enabled="true">
            <Category>DLA Custom: Windows</Category>
            <Sequence>99</Sequence>
            <Criteria><![CDATA["ResolutionState=5 AND Name='DLA-WIN-Unexpected Shutdown' AND TimeRaised < '__TimeRaised__'"]]></Criteria>
            <NewResolutionState>255</NewResolutionState>
            <TimeRaisedAge>10080</TimeRaisedAge>
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA["Alert Updated by Orchestrator: Resolved"]]></Comment>
            <CheckHealth>false</CheckHealth>
        </exception>
        <exception name="Cluster network is down" enabled="false">
            <Category>MS Cluster</Category>
            <Sequence>99</Sequence>
            <Criteria><![CDATA["ResolutionState=5 AND Name='Cluster network is down' AND TimeRaised < '__TimeRaised__'"]]></Criteria>
            <NewResolutionState>255</NewResolutionState>
            <TimeRaisedAge>1440</TimeRaisedAge>
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA["Alert Updated by Orchestrator: Resolved"]]></Comment>
            <CheckHealth>true</CheckHealth>
        </exception>
        <exception name="Communication was lost and reestablished between cluster nodes" enabled="false">
            <Category>MS Cluster</Category>
            <Sequence>99</Sequence>
            <Criteria><![CDATA["ResolutionState=5 AND Name='Communication was lost and reestablished between cluster nodes' AND TimeRaised < '__TimeRaised__'"]]></Criteria>
            <NewResolutionState>255</NewResolutionState>
            <TimeRaisedAge>1440</TimeRaisedAge>
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA["Alert Updated by Orchestrator: Resolved"]]></Comment>
            <CheckHealth>true</CheckHealth>
        </exception>
        <exception name="Application Pool worker process terminated unexpectedly" enabled="false">
            <Category>IIS</Category>
            <Sequence>99</Sequence>
            <Criteria><![CDATA["ResolutionState=5 AND Name='Application Pool worker process terminated unexpectedly' AND TimeRaised < '__TimeRaised__'"]]></Criteria>
            <NewResolutionState>255</NewResolutionState>
            <TimeRaisedAge>1440</TimeRaisedAge>
            <PostPipelineFilter></PostPipelineFilter>
            <Comment><![CDATA["Auto close by Orchestrator"]]></Comment>
            <CheckHealth>true</CheckHealth>
        </exception>
    </exceptions>
</config>