<?xml version="1.0" encoding="utf-8" ?>
<config version="1.0">
    <settings>
        <managementserver name="MGR31.abcd.lcl" />
        <outputpath name="F:\Files\Log\OperationsManager\AlertEscalation" />
    </settings>
    <rules>
        <rule name="SQL Server Windows Service Stopped" 
            enabled="true"
            criteria="ResolutionState=5 AND Name LIKE '%SQL Server Agent Windows Stopped%'"
            NewResolutionState="50" 
            AgeInMinutes="10" />
        <rule name="SQL Agent Server Windows Service Stopped" 
            enabled="true"
            criteria="ResolutionState=5 AND Name LIKE '%SQL Server Service Stopped%'"
            NewResolutionState="50" 
            AgeInMinutes="10" />
    </rules>
</config>
