<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<rsServers>
	    <rsServer name="RPT23.abcd.lcl" instance="Default" uri="https://reports.abcd.lcl/reportserver" active="True">
		<rsDataSources>
		    <dataSource name="Catalog" userName="abcd\OpsMgrReader" active="True" />
		    <dataSource name="OperationsManager" userName="abcd\OpsMgrReader" active="True" />
		    <dataSource name="OperationsManagerDW" userName="abcd\OpsMgrReader" active="True" />
		    <dataSource name="Orchestrator" userName="abcd\OpsMgrReader" active="True" />
		    <dataSource name="SystemCenter" userName="abcd\OpsMgrReader" active="True" />
		</rsDataSources>
		<rsExecutionAccount name="UnattendedExecutionAccount" userName="dir\svc_omsqlrs" active="True" />
	    </rsServer>
	</rsServers>
	<runAsAccounts>
	    <runAsAccount name="" userName="" accountType="" active="True" />
	    <runAsAccount name="" userName="" accountType="" active="True" />
	    <runAsAccount name="" userName="" accountType="" active="True" />
	    <runAsAccount name="" userName="" accountType="" active="True" />
	</runAsAccounts>
    <ManagementGroup name="OM_ABCD" active="True" >
        <roles>
            <role name="ManagementServer" stopSequence="1" startSequence="5" active="True" >
                <servers>
	                <server name="RPT23.abcd.lcl" default="False" stopSequence="1" startSequence="6" active="False" >
		                <services>
			                <service name="MSExchangeMonitoringCorrelation" displayName="Microsoft Exchange Monitoring Correlation" stopSequence="1" startSequence="1" credential="abcd\OpsMgrServiceDAL" />
		                </services>
	                </server>
	                <server name="MGR31.abcd.lcl" default="True" stopSequence="6" startSequence="1" active="True" >
		                <services>
			                <service name="HealthService" displayName="Microsoft Monitoring Agent" stopSequence="1" startSequence="3" credential="LocalSystem" />
			                <service name="cshost" displayName="System Center Management Configuration" stopSequence="2" startSequence = "2" credential="abcd\OpsMgrServiceDAL" />
			                <service name="OMSDK" displayName="System Center Data Access Service" stopSequence="3" startSequence = "1" credential="abcd\OpsMgrServiceDAL" />
		                </services>
	                </server>
	                <server name="MGR32.abcd.lcl" default="False" stopSequence="5" startSequence="2" active="False" >
		                <services>
			                <service name="HealthService" displayName="Microsoft Monitoring Agent" stopSequence="1" startSequence="3" credential="LocalSystem" />
			                <service name="cshost" displayName="System Center Management Configuration" stopSequence="2" startSequence = "2" credential="abcd\OpsMgrServiceDAL" />
			                <service name="OMSDK" displayName="System Center Data Access Service" stopSequence="3" startSequence = "1" credential="abcd\OpsMgrServiceDAL" />
		                </services>
	                </server>
	                <server name="MGR33.abcd.lcl" default="False" stopSequence="4" startSequence="3" active="False" >
		                <services>
			                <service name="HealthService" displayName="Microsoft Monitoring Agent" stopSequence="1" startSequence="3" credential="LocalSystem" />
			                <service name="cshost" displayName="System Center Management Configuration" stopSequence="2" startSequence = "2" credential="abcd\OpsMgrServiceDAL" />
			                <service name="OMSDK" displayName="System Center Data Access Service" stopSequence="3" startSequence = "1" credential="abcd\OpsMgrServiceDAL" />
		                </services>
	                </server>
	                <server name="MGR34.abcd.lcl" default="False" stopSequence="3" startSequence="4" active="False" >
		                <services>
			                <service name="HealthService" displayName="Microsoft Monitoring Agent" stopSequence="1" startSequence="3" credential="LocalSystem" />
			                <service name="cshost" displayName="System Center Management Configuration" stopSequence="2" startSequence = "2" credential="abcd\OpsMgrServiceDAL" />
			                <service name="OMSDK" displayName="System Center Data Access Service" stopSequence="3" startSequence = "1" credential="abcd\OpsMgrServiceDAL" />
		                </services>
	                </server>
	                <server name="MGR35.abcd.lcl" default="False" stopSequence="2" startSequence="5" active="False" >
		                <services>
			                <service name="HealthService" displayName="Microsoft Monitoring Agent" stopSequence="1" startSequence="3" credential="LocalSystem" />
			                <service name="cshost" displayName="System Center Management Configuration" stopSequence="2" startSequence = "2" credential="abcd\OpsMgrServiceDAL" />
			                <service name="OMSDK" displayName="System Center Data Access Service" stopSequence="3" startSequence = "1" credential="abcd\OpsMgrServiceDAL" />
		                </services>
	                </server>
                </servers>
            </role>
            <role name="SQLServer" stopSequence="5" startSequence="1" active="True" >
                <servers>
	                <server name="SQL33.abcd.lcl" default="False" stopSequence="1" startSequence="2" active="True" >
		                <services>
			                <service name="SQLSERVERAGENT" displayName="SQL Server Agent" stopSequence="1" startSequence="2" credential="LocalSystem" />
			                <service name="MSSQLSERVER" displayName="SQL Server" stopSequence="2" startSequence = "1" credential="LocalSystem" />
		                </services>
	                </server>
	                <server name="SQL34.abcd.lcl" default="False" stopSequence="2" startSequence="1" active="False" >
		                <services>
			                <service name="SQLSERVERAGENT" displayName="SQL Server Agent" stopSequence="1" startSequence="2" credential="LocalSystem" />
			                <service name="MSSQLSERVER" displayName="SQL Server" stopSequence="2" startSequence = "1" credential="LocalSystem" />
		                </services>
	                </server>
                </servers>
            </role>
            <role name="ReportingServices" stopSequence="4" startSequence="2" active="True" >
                <servers>
	                <server name="RPT23.abcd.lcl" default="False" stopSequence="2" startSequence="1" active="True" >
		                <services>
			                <service name="ReportServer" displayName="SQL Server Reporting Services" stopSequence="1" startSequence="1" credential="LocalSystem" />
		                </services>
	                </server>
	                <server name="MGR31.abcd.lcl" default="False" stopSequence="1" startSequence="2" active="True" >
		                <services>
			                <service name="ReportServer$SCOM" displayName="SQL Server Reporting Services (SCOM)" stopSequence="1" startSequence="1" credential="abcd\opsmgrreader" />
		                </services>
	                </server>
                </servers>
            </role>
            <role name="Orchestrator" stopSequence="2" startSequence="4" active="True" >
                <servers>
	                <server name="SCH21.abcd.lcl" default="False" stopSequence="1" startSequence="1" active="True" >
		                <services>
			                <service name="omanagement" displayName="Orchestrator Management Service" stopSequence="1" startSequence="4" credential="abcd\scorchsvc" />
			                <service name="oremoting" displayName="Orchestrator Remoting Service" stopSequence="2" startSequence = "3" credential="LocalSystem" />
			                <service name="omonitor" displayName="Orchestrator Runbook Server Monitor" stopSequence="3" startSequence = "2" credential="abcd\scorchsvc" />
			                <service name="orunbook" displayName="Orchestrator Runbook Service" stopSequence="4" startSequence = "1" credential="abcd\scorchsvc" />
		                </services>
	                </server>
                </servers>
            </role>
        </roles>
    </ManagementGroup>
    <ManagementGroup name="OM_ABCD_T" active="True">
        <roles>
            <role name="ManagementServer" stopSequence="1" startSequence="4" active="True" >
                <servers>
	                <server name="mgr31t.abcd.lcl" default="True" stopSequence="1" startSequence="1" active="True" >
		                <services>
			                <service name="MSExchangeMonitoringCorrelation" displayName="Microsoft Exchange Monitoring Correlation" stopSequence="1" startSequence="4" credential="abcd\OpsMgrServiceDAL" />
			                <service name="HealthService" displayName="Microsoft Monitoring Agent" stopSequence="2" startSequence="3" credential="LocalSystem" />
			                <service name="cshost" displayName="System Center Management Configuration" stopSequence="3" startSequence = "2" credential="abcd\OpsMgrServiceDAL" />
			                <service name="OMSDK" displayName="System Center Data Access Service" stopSequence="4" startSequence = "1" credential="abcd\OpsMgrServiceDAL" />
		                </services>
	                </server>
                </servers>
            </role>
            <role name="SQLServer" stopSequence="4" startSequence="1" active="True" >
                <servers>
	                <server name="sql33t.abcd.lcl" stopSequence="1" startSequence="1" active="True" >
		                <services>
			                <service name="SQLSERVERAGENT" displayName="SQL Server Agent" stopSequence="1" startSequence="2" credential="LocalSystem"  />
			                <service name="MSSQLSERVER" displayName="SQL Server" stopSequence="2" startSequence = "1" credential="LocalSystem"  />
		                </services>
	                </server>
                </servers>
            </role>
            <role name="ReportingServices" stopSequence="3" startSequence="2" active="True" >
                <servers>
	                <server name="mgr31t.abcd.lcl" default="False" stopSequence="1" startSequence="1" active="True" >
		                <services>
			                <service name="ReportServer$SCOM" displayName="SQL Server Reporting Services (SCOM)" stopSequence="1" startSequence="1" credential="abcd\opsmgrreader" />
		                </services>
	                </server>
                </servers>
            </role>
            <role name="Orchestrator" stopSequence="2" startSequence="3" active="True" >
                <servers>
	                <server name="SCH21t.abcd.lcl" default="False" stopSequence="1" startSequence="1" active="True" >
		                <services>
			                <service name="omanagement" displayName="Orchestrator Management Service" stopSequence="1" startSequence="4" credential="abcd\scorchsvc" />
			                <service name="oremoting" displayName="Orchestrator Remoting Service" stopSequence="2" startSequence = "3" credential="LocalSystem" />
			                <service name="omonitor" displayName="Orchestrator Runbook Server Monitor" stopSequence="3" startSequence = "2" credential="abcd\scorchsvc" />
			                <service name="orunbook" displayName="Orchestrator Runbook Service" stopSequence="4" startSequence = "1" credential="abcd\scorchsvc" />
		                </services>
	                </server>
                </servers>
            </role>
        </roles>
    </ManagementGroup>
</configuration>
